.profilebodyinsta {
  padding: 36px 40px 6px;
  text-align: center;
  display: inline-flex;
}

.instaimgholder-main {
  text-align: center;
  margin-left: -36px;
  margin-right: 5px;
}

.instaimgholder {
  border-radius: 50%;
  width: 110px;
  margin-left: 32px;
}

.btnprimaryinsta {
  background-color: #ef5e33 !important;
  box-shadow: none;
  border: none;
  border-radius: 6px;
  padding: 0 15px;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  box-shadow: none !important;
  color: #fff;
  background: black;
  color: white;
  width: 97px;
}

.navclassinsta {
  padding: 10px;
}

.myclass {
  flex: 0 0 auto;
  width: 47%;
  /* margin: 0px; */
  height: 260px;
  margin: auto;
  margin-bottom: 30px;
}

.imgholdergrid {
  height: -webkit-fill-available;
  width: auto;
  border-radius: 25px;
  //border: 2px solid #73ad21;
}

.name {
  font-family: "fredoka_oneregular";
  // font-weight: bold;
  margin-top: 50px;
  margin-left: 31px;
}

.text {
  padding: 13px;
  // font-weight: bold;
  font-family: "fredoka_oneregular";
  font-size: x-large;
}

.label {
  font-family: "fredoka_oneregular";
}
